*{
    margin-top: 0;
    margin-bottom: 0;
}
@font-face {
    font-family: 'MyFont'; /* Название твоего шрифта */
    src: url('../fonts/stratosskyeng-regular.woff2') format('woff2'), /* Путь до твоего файла .woff2 */
         url('sant-serif.woff') format('woff'); /* Путь до твоего файла .woff */
    font-weight: normal; /* Насыщенность шрифта */
    font-style: normal; /* Стиль шрифта */
  }
body{
    font-family: 'stratosskyeng-regular', sans-serif;
    width: 100%;
    height: 774px;
    background:  #004980 no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    font-size: 40px;
    width: 208px;
    height: 96px;
    text-align: center;
}
.box{
    background: #C2F5FF;
    border-radius: 13px;
    height: 480px;
    width: 459px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box_row_number{
    margin-top: 48px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box_numbers{
    border: 1px double black;
    border-radius: 15px;
    background-color: white;
    font-size: 64px;
    width: 98px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_start{
    margin-top: 67px;
    background-color: #37c53a;
    border: 1.7px solid black;
    height: 50px;
    width: 246px;
    border-radius: 10px;
}